h1 Ciaaaaao gabri

= link_to "Articoli", admin_articles_path
br
= link_to 'Categorie', admin_categories_path
br
=link_to 'Link', admin_links_path
br
= link_to 'Allegati', admin_enclosures_path
br
= link_to 'Pagine', admin_pages_path
br
= link_to 'Utenti', admin_user_lists_path
br
= link_to 'Opzioni', new_admin_option_path
